/* body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
  } */
  
  .container {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    overflow: auto;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }

  #messages {
    height:20rem;
    overflow:overlay;
    overflow-wrap: break-word;
  }
  .user-name {
    font-weight: bold;
  }
  #rock {
    font-size: 4rem;
    background-image: url("../images/buttonBackerRock.jpg");
    min-width: 100%;
    min-height: 100%;
	  background-repeat: no-repeat;
  	background-position: center;
    background-size: cover;
    border-color: black;
    color: white;
    text-shadow: 5px 5px  rgba(0, 0, 0, 0.6);
    -webkit-text-stroke: 2px black;
}

#paper {
  font-size: 4rem;
  background-image: url("../images/buttonBackerPaper.jpg");
  min-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  text-shadow: 5px 5px  rgba(0, 0, 0, 0.6);
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  
}
#scissors {
  font-size: 4rem;
  background-image: url("../images/buttonBackerScissors.jpg");
  min-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-color: black;
  color: rgb(245, 243, 243);
  text-shadow: 5px 5px  rgba(0, 0, 0, 0.6);
  -webkit-text-stroke: 2px rgb(3, 3, 3);
}
  
body {
  background-image: url("../images/bodyBackground.jpg");
  /* display: flex; */
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#titleimg {
  background-image: url("../images/titleBackground.jpg");
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  color: white;
  text-shadow: 5px 5px  rgba(0, 0, 0, 0.6);
  -webkit-text-stroke: 2px rgb(3, 3, 3);
}
h4 {
  font-family: 'Rubik Mono One', sans-serif;
  color: white;
  text-shadow: 5px 5px  rgba(0, 0, 0, 0.6);
  -webkit-text-stroke: 2px rgb(3, 3, 3);
}

p {
  font-family: 'Heebo', sans-serif;
  color: white;
}
#chat {
  font-family: 'Heebo', sans-serif;
  color: white;
  text-shadow: 2px 2px  rgba(0, 0, 0, 0.6);
}
#choices {
  font-size: 2rem;
  margin: 0;
}
p {
  font-family: 'Heebo', sans-serif;
  color: white;
}
#playerName {
  font-family: 'Heebo', sans-serif;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px  rgba(0, 0, 0, 0.6);
  margin-bottom: -10px;

}
#chatOutline {
  border: none;
  background-color: rgba(24, 83, 160, 0.8);
}
#sign-name-input {
  padding: 10px 12px;
}
#logInSubmit {
  font-family: 'Heebo', sans-serif;
  color: white;
  text-shadow: 2px 2px  rgba(0, 0, 0, 0.6);
  background-color: rgb(24, 83, 160);
  padding: 12px 30px;
  margin-bottom: 5px;

}
#logIn {
  padding: 12px 0;
  margin:0;
}
#visitorSubmit {
  font-family: 'Heebo', sans-serif;
  color: white;
  text-shadow: 2px 2px  rgba(0, 0, 0, 0.6);
  background-color: rgb(24, 83, 160);
  padding: 12px 30px;
  margin-bottom: 5px;
}
#visitlogIn {
  padding: 12px 0;
  margin:0;
}
#visit-name-input {
  padding: 10px 12px;
}

#submit {
  font-family: 'Heebo', sans-serif;
  color: white;
  text-shadow: 2px 2px  rgba(0, 0, 0, 0.6);
  background-color: rgb(24, 83, 160);
  padding: 12px 30px;
  margin-bottom: 5px;
}
#message-input {
  padding: 10px 12px;
}
#playerOneStats {
  background-color: rgb(24, 83, 160);
  font-family: 'Heebo', sans-serif;
  color: white;
  text-shadow: 2px 2px  rgba(0, 0, 0, 0.6);
}
#stats,
#statsRow {
  border: none;
}
#player2name,
#player2wins,
#players2losses,
#player2ties {
  font-family: 'Heebo', sans-serif;
  color: white;
  text-shadow: 2px 2px  rgba(0, 0, 0, 0.6);
}